body{
    background-color: white;
}
.container-fluid{
    gap: 500px;
    display: flex;
    justify-content: center;     
}  
.navbar-brand{
    margin-left: 100px;
}
#ourstory{
    height: 400px;
    width: 100%;
    /* background-color: aqua; */
    margin-top: 100px;
}
#manjacket{
    height: 400px;
    width: 40%; 
    object-fit: contain;
    position: relative;
    left: 62%;
}
story{
    position: relative;
    height: 400px;
    width: 100%;
    background-color:green;
    z-index: 5;
}

.typewriter p {
    position: relative;
    height: 300px;
 left: 3%;
    width: 50%;
    bottom: 300px;
    overflow: hidden; /* Ensures the text is initially hidden */
    /* border-right: 2px solid #333; Cursor effect */
    white-space-trim:50% ; /* Keeps the text on one line */
    margin: 0;
    font-size: 18px;
    animation: typewriter 4s steps(40) ;
    font-weight: bold;
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 50%;
    }
  }


  .menu {
    position: relative;
    cursor: pointer;
  }
  
  .dot {
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    margin: 2px 0;
    margin-left: 10px;
  }
  
  .menu-options {
    display: none;
    position: absolute;
    top: 40px;
    left:- 20%;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid #555;
  }
  
  .menu-options li {
    padding: 10px;
    text-align: right;
  }
  
  .menu-options a {
    text-decoration: none;
    color: black;
    display: block;
    font-weight: bold;
  }
  #boxes
{
height: 170px;
width: 800px;
margin-left: 100px;
display: flex;
gap: 5px;

}
#box1,#box2,#box3,#box4{
 border-radius: 10px;
height: 150px;
width: 150px;
border: solid black 3px;
margin-left: 15px;
display: flex;
justify-content: center;
align-items: center;
background-color: white;
transition:  background-color 0.3s ease-in-out;
cursor: pointer;
}
#box1:hover {
    background-color:#DB4444; /* Blue color on hover */ 
   
}
#box2:hover {
    background-color:#DB4444; /* Blue color on hover */ 
  }
#box3:hover {
    background-color:#DB4444; /* Blue color on hover */ 
  }
#box4:hover {
    background-color:#DB4444; /* Blue color on hover */ 
  }